<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form>
        <table>
            <tr>
                <td>
                    <label>Link</label>
                </td>
                <td>
                    <input type="text" id="link" placeholder="Enter link">
                </td>
            </tr>
            <tr>
                <td>Submit</td>
                <td>
                    <button id="btn" type="submit">Generate QR Code</button>
                </td>
            </tr>
        </table>
        <br>
    </form>
    <div id="qrcode"></div>
    <script src="index.js"></script>
</body>
</html>