doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet" href="style.css")
    body
        header
            nav
                ul
                    li
                        a(href="/home") Home
                    li
                        a(href="/about") About
                    li
                        a(href="/contact") Contact
        block main
        footer
            p Copyright © 2025 Happy Birthday Padma Prasath 
